<table class="table" style='color:white'>
  <thead>
    <tr>
      <th scope="col"> <%= @milestone.name %> </th>
      <th scope="col">Complete?</th>
      <th scope="col">Description</th>
      <th scope="col">Assignee</th>      
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |t| %>
    <tr>
      <% if t.complete %>
        <td> <%= link_to t.name, show_task_path(id: t.id), style:'color: #29d916; text-decoration: none' %></td>
        <td> complete </td>
      <% else %>
        <td> <%= link_to t.name, show_task_path(id: t.id), style:'color: red; text-decoration: none' %></td>
        <td> incomplete </td>
      <% end %>
      <td> <%= t.description.truncate(40) %> </td>
      <td> <%= User.find(t.assigned_to).email %> </td>
      <td> <%= t.end_date %>  </td>
    </tr>
  <% end %>
  </tbody>
</table>