<p>
  <small>
    <small>
      <%= link_to @project.name, show_project_path(id: @project.id), style:'color:white; text-decoration: none' %> >> 
      <%= @milestone.name %>
    </small> 
  </small>
</p>

<div style='margin-left:30px'>
  <div class='row', style='padding-bottom:20px; text-align:justify'>
    <div class='col-md-6' >
      <p> Description:</p> <%= @milestone.description %>
    </div>
  </div>
  <%= link_to "Edit Milestone", edit_milestone_path(id: @milestone.id), class:'btn show_button'%>
  <hr class='col-md-11'>
  <div class='row' style='margin-left:0px'>
    Tasks List
  </div>
  <%= link_to "New Task", new_task_path(id: @milestone.id), class:'btn mt-4 mb-4 show_button' %>
  <% if @tasks.present? %>
    <div>
      <%= render 'tasks_list' %>
    </div>
  <% end %>
</div>
