<h1><%= fa_icon 'snowflake-o' %> Miyako</h1>
<p>A Project Management Tool</p>
<% if current_user.present? %>
  <%= turbo_stream_from "users" %>
  <div id="users">
    <%= render @users %>
  </div>
  <div class="big-block col-md-3">
    <div>
      <%= link_to  new_project_path, class:'btn panel-button' do %> 
        <%= fa_icon "plus-square-o"%> Project
      <% end %>
    </div>
    <div style="padding-left:10px">
      <%= turbo_stream_from "projects" %>
      <div id="projects">
        <%= render @projects %> 
      </div>
    </div>
  </div>
<% else %>
  <%= link_to "Log in",  new_user_session_path, class:'btn btn-outline-primary' %>
  <%= link_to "Sign Up", new_user_registration_path, class:'btn btn-outline-success' %>
<% end %>
