<div style='margin-left:30px'>
  <p> <h3> <%= @project.name %> </h3> </p>
  <div class='row', style='padding-bottom:20px; text-align:justify'>
    <div class='col-md-6' >
      <p><strong> <%= @project.percent_complete %> % complete </strong></p>
      <p><strong>Description:</strong> </p><p style='padding-left:20px'> <%= @project.description %></p>
      <p><strong>Start date:</strong>      <%= @project.baseline_start_date %></p>
      <p><strong>End date:</strong>        <%= @project.baseline_end_date %> </p>
      <p><strong>Project leader:</strong>  <%= User.find(@project.leader).email %> </p>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-3'>
      <div class='collapsible col-md-12' id="collapsible">
        <input type='checkbox' id="collapsible2-head-members">
        <label for="collapsible2-head-members" style='color: white'> Members </label>
        <div class="collapsible-text">
          <% @members.each do |m|%>
            <p>
              <%= link_to remove_member_from_project_path(id: m.id), data:{turbo_method: :delete, turbo_confirm: "Remove #{m.email} from Project?"}, style:'text-decoration: none; color: #40c92e' do %>
                <%= fa_icon "minus-square-o", style:'color:red' %>
                <%= fa_icon "user" %>
              <% end %>
              <%= link_to m.email, show_user_path(id: m.id), style:'text-decoration: none; color: #40c92e' %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class='col-md-1'></div>
    <div class='col-md-3'>
      <% if @project.leader == current_user.id %>
        <div class='collapsible col-md-12' id="collapsible">
          <input type='checkbox' id="collapsible2-head-nonmembers">
          <label for="collapsible2-head-nonmembers" style='color: white'> Non-Members </label>
          <div class="collapsible-text">
            <% if @non_members.blank? %>
              <p> No Non-members </p>
            <% end %>
            <% @non_members.each do |nm|%>
              <p>
                <%= link_to assign_member_job_path(id: nm.id), style:'text-decoration: none; color: #3b7cd1' do %>
                  <%= fa_icon "plus-square-o", style:'color:#40c92e' %>
                  <%= fa_icon "user"%>
                <% end %>
                <%= link_to nm.email, show_user_path(id: nm.id), style:'text-decoration: none; color: #40c92e' %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @project.attachments.attached? && @members.include?(current_user)%>
    <h4 style='padding-top:30px'> Project Documents </h4>
    <% @project.attachments.each_with_index do |attachment, index| %>
      <p style='padding:10px'>
        <%= link_to url_for(attachment), style:'text-decoration: none; color: white' do %>
          <%= fa_icon 'file-o' %>
          <%= attachment.filename %>
        <% end %>
      </p>
    <% end %>
  <% end %>
  
  <% if @project.leader == current_user.id %>
    <%= link_to "Edit Project", edit_project_path(id: @project.id), class:'btn mt-4 show_button' %>
    <%= link_to "Project Schedule", get_schedule_path(id: @project.id), class:'btn mt-4 show_button' %>
    <%= link_to "Project Budget",   get_budget_path(id: @project.id), class:'btn mt-4 show_button' %>
  <% end %>
  <hr class='col-11'>

  <% if @members.include?(current_user) %>
    <h4>Milestones</h4>
    <% if @milestones.present? %>
      <div class='row'>
        <% @milestones.each do |milestone| %>
          <div class='big-block col-md-3 mb-4' style='margin-right:30px;'>
            <p> <h5> <%= link_to milestone.name, show_milestone_path(id: milestone.id), class:'show_button', style:' text-decoration:none' %> </h5> </p>
            <p> <h6> <%= milestone.completion %> % </h6> </p>
            <p> Description:  </p> <%= milestone.description %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @project.leader == current_user.id %>
      <%= link_to "New Milestone", new_milestone_path(id: @project.id), class:'btn mt-4 show_button' %>
    <% end %>
  <% end %>
</div>