<div style="padding-left:10px; padding-top:60px">
  <%= link_to root_path, class:'btn panel-button' do %>
    <%= fa_icon "home"%> Home
  <% end %>
  <%= link_to about_path, class:'btn panel-button' do %>
    <%= fa_icon "info-circle"%> About
  <% end %>
  <%= link_to about_path, class:'btn panel-button' do %>
    <%= fa_icon "bell"%> Notifications
  <% end %>
</div>
<hr>